.one{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 300px;
}

.edhub{
    list-style-type: none;
}

