.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 300px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.password {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.five {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 360px;
}