body {
    display: flex;
    flex-direction: column;
    background-color: #f2f3d9;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    margin-top: 40px;
}

h3 {
    margin-bottom: 20px;

}

h1, h3 {
    display: flex;
    justify-content: center;
}

article {
    display: flex;
    justify-content: center;
}

.par-one, .par-two, .par-three {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    background-color: #c16e70;
    flex-basis: 280px;
    margin: 20px;
    padding: 20px;
    border-radius: 3px;
    height: 350px;
    flex-shrink: 1;
    flex-grow: 0;
    /* spaeter fuer auftrag 2.2 (siehe abbildung) padding: 20px 20px 20px 20px */
}

