* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f3d9;
    font-family: Tahoma, sans-serif;
}

h1 {
    margin-top: 20px;
}


h1,h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c16e70;
}

.par-one, .par-two, .par-three{
    border: 5px dotted purple; /* as help only, remove later

}

